<!DOCTYPE html>
<html>

<body >

    <style>
        body { cursor: crosshair; background:rgb(214, 239, 240) }
        td {
            vertical-align: top;
        }
        h3 {
            background-color: rgb(139, 210, 212);
        }
        h4 {
            background-color: rgb(166, 203, 218);
        }
    </style>
    {% include 'docs/login.html' %}<hr>
    {% include 'docs/users.html' %} <hr>
    {% include 'docs/profile.html' %} <hr>
    {% include 'docs/skills.html' %} <hr>
    {% include 'docs/occupy.html' %} <hr>
    
    {% include 'docs/messages.html' %} <hr>
    <hr>
    {% include 'docs/sectors.html' %}
    
    
</body>
</html>
