<!DOCTYPE html>
<html>

<body >

    <style>
        body { cursor: crosshair; background:rgb(238, 228, 217) }
        td {
            vertical-align: top;
        }
        h3 {
            background-color: rgb(206, 167, 122);
        }
        h4 {
            background-color: rgb(228, 203, 172);
        }
    </style>


    {% include 'docs/users.html' %} <hr>
    {% include 'docs/messages.html' %} <hr>
    <hr>
    {% include 'docs/login.html' %}<hr>
    {% include 'docs/sectors.html' %}
    
</body>
</html>
