<!DOCTYPE html>
<html>

<body>

<h2>/users</h2>
    <h3>get</h3>
        <h4>request</h4>
        <ul>
            <li>
                head: -
            </li>
            <li>
                body: -
            </li>
            <li>
                url params: -
            </li>
        </ul>

        <h4>response</h4>
        <p> json: {'status':'ok', 'data': [...] }  </p>


        <h3>post</h3>
        <h4>request</h4>
        <ul>
            <li>
                head: -
            </li>
            <li>
                body: email, psw, name
            </li>
            <li>
                url params: -
            </li>
        </ul>

        <h4>response</h4>
        <p> json: {'status':'ok' }  </p>

    <h2> /messages </h2>
        <h3>post (добавление сообщения)</h3>
        <h4>request</h4>
        <ul>
            <li>
                head: -
            </li>
            <li>
                body: code, message-text, id
            </li>
            <li>
                url params: -
            </li>
        </ul>

        <h4>response</h4>
        <p> json: {'status':'ok' }  </p>

    <h2> /login </h2>
        <h3>post (авторизация)</h3>
        <h4>request</h4>
            <ul>
                <li>
                    head: -
                </li>
                <li>
                    body: login, psw
                </li>
                <li>
                    url params: -
                </li>
            </ul>
    
        <h4>response</h4>
        <p> json: {'status':'ok', 'code':code }  </p>

    <h2> /registration </h2>
        <h3>post (регистрация)</h3>
        <h4>request</h4>
            <ul>
                <li>
                    head: -
                </li>
                <li>
                    body: name, login, psw, email
                </li>
                <li>
                    url params: -
                </li>
            </ul>
    
        <h4>response</h4>
        <p> json: {'status':'ok' }  </p>

</body>
</html>
